spring:
  application:
    name: config-service
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///D:\Projects\microservice-spring-with-docker\microservices ecom-app\config-service\src\main\resources\config
  rabbitmq:
    port: 5672
    host: localhost
    username: guest
    password: guest

server:
  port: 8888

management:
 endpoints:
   web:
     exposure:
       include: "*"
 endpoint:
   health:
     show-details: always

#Eureka-config
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

#Log-config
logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rolling policy:
      max-file-size: 5MB
      max-history: 7